.img-style {
    margin: 10% 0 10% 15%;
}

.des-movie {
    margin-top: 10px;
    margin-right: 15px;
    color: black;
}

.des2-movie {
    margin-right: 15px;
    color: black;
}
.bold-css {
    font-weight: bold;
}